@charset "UTF-8";
/* 共通部分
--------------------------------------*/
html{
  font-size: 100% ;
}
body{
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  /* font-family: "Noto Sans JP", serif; */
  line-height: 1.7 ;
  color:#174630;
  margin:0 auto;


} 
a{
  text-decoration: none;
}
p{
  font-size: clamp(1.0rem, 2.0vw, 1.3rem);
  line-height: 1.5em;
}
img{
  max-width: 100%;
}
.wrapper{
  max-width: 800px; /*最大幅指定*/
  margin: 0 auto; 
  padding: 0 4%;
}
.sentence-padding-large{
  max-width: 800px; /*最大幅指定*/
  margin: 0 auto; 
  padding: 3rem 10px;
  width: 95%;
  max-width: 800px;
}
.sentence-padding-medium{
  max-width: 800px; /*最大幅指定*/
  margin: 0 auto; 
  padding: 3rem 10px;
  width: 95%;
  max-width: 800px;
}
.sentence-padding-title{
  max-width: 800px; /*最大幅指定*/
  margin: 0 auto; 
  padding: 2rem 10px 3rem;
  width: 95%;
  max-width: 800px;
}
.sentence-padding-list{
  max-width: 800px; /*最大幅指定*/
  margin: 0 auto; 
  padding: 3rem 10px;
}
.sentence-padding-box{
  max-width: 800px; /*最大幅指定*/
  margin: 0 auto; 
  padding: 0 10px;
  width: 95%;
}
.page-title-wrapper{
  padding-top: 50vw;
  max-width: 800px;
  margin: 0 auto;
}
.page-title-wrapper section{
  /* margin: 5% auto 5% ; */
  padding: 3rem 0px;
  width: 85%;
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
.center-align{
  margin: 1rem auto;
  text-align: center;
  max-width: 90%;
  padding: 0 0%;
}


.mini-wrapper{
  background-color: #DEEEE6;
  border-radius: 10px;
  padding: 4%;
}
.image-center{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.image-gallery {
  aspect-ratio: 1 / 1;
  width: 90%;
  max-width: 400px; /* 必要に応じて調整 */
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 必要なら contain も可 */
  
}
.slide {
  white-space: nowrap;
  max-width: 400px;
  width: 100%;
  height: 100%;
  overflow: hidden;  
  font-size: 0; /* ← 追加 */
}
.slide img {
  margin: 0;
  padding: 0;
  border: none;
  /* margin: -0.75%; */

}
@keyframes slide-4 {
  0% { margin-left: 0; }
  25% { margin-left: -100%; }
  50% { margin-left: -200%; }
  75% { margin-left: -300%; }
  100% { margin-left: -400%; }
}
.slide > :first-child {
  animation-name: slide-4;     /* 作成したキーフレームを使う */
  animation-duration:15s;    /* アニメーション全体を5秒にする */
  animation-delay: 0s;       /* 直ちにアニメーション開始する */
  animation-iteration-count: infinite; /* 永遠にアニメーションする */
  /* animation-timing-function: linear;  */
}

/*HEADER
-------------------------------------- */
.page-header {
    display: flex;
    justify-content: space-between;
    padding:14px 20px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    align-items: flex-end;
    /* font-size: 0; */
}

.logo{
  width: 100px;
  /* margin-top: 25px; */
  margin-left: 10px;
  vertical-align: bottom;
}

.main-nav{
  display: flex;
  font-size: 1.25rem;
  /* margin-top: 34px; */
  align-items: center;
  list-style: none;
  justify-content: space-around;
}
.main-nav a{
  margin-left: 2.5rem;
  color: #174630;
}
.main-nav a:hover{
  color:#0e6227;   /*カーソル上の時色変化*/
  font-weight: bold;
}

/* ここからハンバーガーメニューの設定 */
/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
  /* margin: 10px 0 0; */
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューの出現モーション*/
.nav_content {
  width: 80vw; /* 表示幅を画面の80%に */
  height: 100%;
  position: fixed;
  top: 0;
  right: -80vw; /* 初期状態で画面の右外へ隠す */
  z-index: 99;
  background: #F8FCF7;
  transition: right 0.2s ease-out; /* アニメーション */
}

/* 出てきたメニューのデザイン */
.nav_list {
  font-size: 1.5em;
  flex-direction: column;
  list-style: none;
  margin-left: 30px;
  margin-top: 100px;
  line-height: 2em
  
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  right: 0;/* メニューを画面に入れる */
}
/* デフォルトでスマホ用を非表示にしておく */
.nav{
  display: none;
}
.nav_list a{
  color: #174630;
  font-size: 1.1rem;
  font-weight: bold;
}
.header-line{
    background: #03c103;
    color:#fff !important;
    border-radius: 10px;/*角を丸くする*/
    padding: 7px 15px;
    display: inline-block;
    margin-left: -3px;
    letter-spacing: 0.06em;
    font-weight: 600;

}

.mini-nav-wrapper{
  /* background-color:#0e6227; */
  border-radius: 10px;
  margin-left: 1.5rem;
}
/* 幅768px以下の画面で切り替える */
@media screen and (max-width: 920px) {
  .header_right {
    display: none;
  }
  .nav {
    display: block;
  }
  .header-line{
    background: #03c103;
    color:#fff !important;
    border-radius: 10px;/*角を丸くする*/
    padding: 1px 8px;
    display: inline-block;
    margin-top: 12px;
    margin-left: -3px;
    letter-spacing: 0.06em;

}
}
/* ハンガーガ－メニューの設定終わり */



/*HOME
----------------------------------------*/
.home-content{
  text-align: center;
  padding-top: 15vw;
  margin-bottom: 80px; /* ← これを追加して下にスペースを確保 */
}
.home-content p{
  font-size: 1rem;
}

/*見出し(AboutUs)*/
.title-wrapper{
  height:1vh;
}
#home .page-title{
  writing-mode: vertical-rl ;
  font-family:"Noto Serif JP", serif;
  font-weight: 500;
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.type {
  position: relative;
  width: 100%;
  height: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(180deg,rgba(#000, 0) 0, rgba(#000, .8) 80%, rgba(#000, .8) 100%);
  }
}
.type a {
  display: inline-block;
  position: absolute;
  right: 2rem;
  bottom: 0;
  z-index: 2;
  padding: 10px 10px 110px;
  color: #5b5b5b;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-decoration: none;
  writing-mode: vertical-lr;
  transition: .2s;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 100px;
    background: #5b5b5b;
  }
  
}

#type01 a::after {
  animation: sdl01 1.5s cubic-bezier(1, 0, 0, 1) infinite;
}
@keyframes sdl01 {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}







.page-aboutus{
  padding-top: 13% !important;
  font-family: "Philosopher", serif;
  /* text-transform: uppercase; */
  font-size: 1.0em !important;
  letter-spacing:  0.08em;
  font-weight: 600;
  color: #4A4A4A;
}

.page-subtitle {
  font-size: clamp(1.3rem, 2.5vw, 2rem);
  text-align: center; 
  padding: 2% 0;
  margin-bottom: 3%;
  line-height: 2.1rem;
 
}

.title-sentence{
  /* font-family: serif; */
  text-align: center;
  padding-bottom: 3rem;
  font-size: clamp(0.9rem, 2.0vw, 1.3rem);
}
.title-first{
z-index: 400;
}
.title-second{
padding-top: 3rem;
z-index: 400;
}
.title-wrapper{
  line-height: 1.2;
}
.container{
  display: flex;
      flex-direction: column;
      max-width: 500px;
      padding: 0px 10px;
      margin: 0px auto;
      width: 90%;
  }
.container a{
  margin: 1% 0px;
}
.line_botton {
  text-align: center;
  /* margin: 40px 0; 適度な上下の余白も追加 */
}
/*ボタン*/
.botton{
  font-size: 1.5rem;
  background:#00c300;
  color:#fff;
  border-radius: 3rem;/*角を丸くする*/
  padding:18px 32px;
  display: inline-block;
  font-weight: 600;
}
.botton:hover{
  background: #499149;
}
.flow-wrapper{
  display: flex;
  justify-content:space-between;
  width: 80%;
  max-width: 1100px;
  margin: 3rem auto; /*中央に配置*/
  gap: 1rem;
 
}
.treatment{   
   margin: 3rem auto;

  
  }
.flow-heading {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
  color: #1b1b1b;
  font-size: clamp(1.3rem, 2.5vw, 2rem);
  text-align: center;
  padding:2% 3%;
  line-height: 2.1rem;
}

.flow-container {
  border-radius: 15px;
  padding: 3rem 10px;
  max-width: 800px;
  /* margin:10px auto; */
  position: relative;
  width: -webkit-fill-available;
 
}
.bg-sp{
  display: none;
}
.colour-flow{
  background-color: #e5fef2;
}
.colour-footcare{
  background-color: #ffffe8;
}
.flow-step::before {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #ccc;
  top: 100%;
  height: 20px;
  left: 32px;
  z-index: 0;
}

.flow-step:last-of-type::before {
  display: none;
}

.flow-step {
  background-color: #fff;
  border-left: 5px solid #c3d9b8;
  border-radius: 8px;
  padding: 15px 16px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  position: relative;
  z-index: 1;
}

.step-number {
  font-weight: bold;
  font-size: 14px;
  color: #4a805f;
  margin-top: 2px;
  flex-shrink: 0;
  min-width: 12px;
  white-space: nowrap;
}

.step-content p{
  font-size: 0.9em ;
  color: #333;
  word-break: break-word;
  flex: 1;
  line-height: 1.6;
}
.step-content strong{
  font-size: 1em;
}

.step-content ul {
  margin: 8px 0;
  /* padding-left: 1.2em; */
  font-size: 0.9em;
}

.step-content li {
  margin-bottom: 4px;
}

.line-btn {
  background-color: #00c300;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 4px;
  margin-right: 6px;
  display: inline-block;
  text-decoration: none;
}



/*大きな背景画像*/
.big-bg{
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#home{
  background-image: url(../images/footomo_bg.jpg);
  width: 100%;
  height: 60vw;
  min-height: 570px; 
 
}





#shoefitting{
  background-image: url(../images/shoefitting_bg2x.jpg);
  width: 100%;
  height: 46vw;
  margin-top: -29vw;
  /* min-height: 500px;  */
}
#shoefitting .page-title-wrapper{
  padding-top: 50vw;
}

#home .page-title{
  text-transform: none;
  white-space: nowrap;
  color: #4A4A4A;
  font-size: 5vw;
}

.title-wrapper{
  display: inline-flex;
  flex-direction: row-reverse;
  text-align: center;
  padding-bottom: 400px;
}


.application{
  padding: 3rem 10px;
  background-image: linear-gradient(135deg, #f0fff8 0%, #87F8C3 100%);
}


/* 初期状態（アニメーション前） */
.anim-box.fadeup {
  opacity: 0;
  transform: translateY(30px);
}
 
.anim-box.fadeup.is-animated {
  animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 0.2s forwards;
}
 
@keyframes fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
 
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 800px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}
.sns{
  padding: 3rem 10px;
}
.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding: 3rem 10px;
}

.instagram-media{
  margin: 0 auto;

}
.note-bg{

  background-color: #E9F4EE;  
  align-items: center;
}
#note-feed {
  text-align: left;
  /* margin-top: 3rem; */

  /* border-radius: 10px; */
  padding: 3rem 10px;

}

#note-feed a {
  display: block;
  text-decoration: none;
  color: inherit;
}

#note-feed h2 {
  text-align: center;
  /* margin-top: 3rem; */
    margin-bottom: -0.5rem;
  margin-left: 2px;
}
/* footcare
----------------------------------------------------------------- */
.service{
  text-align: right;
}
.page-title{
  text-align: center;
  font-size: clamp(1.62em, 3vw, 2.5em);
}

#footcare{
  background-image: url(../images/footcare_bg2x.jpg);
  width: 100%;
  height: 46vw;
  margin-top: -29vw;
  /* min-height: 500px;  */
}
#footcare .page-title-wrapper{
  padding-top: 50vw;
}
/* #footcare p{
  font-size: 1rem;
} */
/* #shoefitting .page-title{
  padding-top: 2vw ;
  font-size: 4vw;
} */


span{
  display: inline-block;
} 

/* #shoefitting p{
  font-size: 1rem;
} */
.treatment-list{
font-size: 1rem;
list-style-type: disc;
padding-left: 1.5em; 
line-height: 1.8; color:#333;
margin: 6px auto 18px;
max-width: 340px;
}
.treatment-list li{
  text-align: left;
}

.line {
  display: block;
  position: relative;
}
.line::after {
  background: linear-gradient(to right, #28A44A 0%,#1DD125 50%,#11FF00 100%);
  content: '';
  display: block;
  height: 1px;
  width: 0;
  transform: translateX(-50%);
  transition: 1.2s cubic-bezier(0.22, 1, 0.36, 1);
  position: absolute;
  bottom: 0;
  left: 50%;
}
.line.is-animated::after {
  width: 100%;
}

/* shoefitting */
.number_3{
  color: yellow;
  text-shadow:
    1px 1px 1px #000;
    /* -3px 3px 2px #000
    -3px -3px 0 #000,
    3px -3px 0 #000;; */
  font-size: clamp(1.3rem, 2.5vw, 2rem);

}

.title-box {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-size: clamp(1.3rem, 2.5vw, 2rem);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.title-box .number {
  font-size: 4.2rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  color: #e8f000;
  -webkit-text-stroke: 1px #333;
  margin: -22px 3px;
  text-stroke: 1.3px #333;
}

.title-box .text {
  color: #444;
}
.point-lists{
  color: #444;
  margin: 10px 0px;
  padding: 3%;
  background-color: #FBFDD1;
  border-radius: 10px;
}
.point-lists-title{
  text-align: center;
}
.point-box h3{
  margin: 5px auto;
  background: linear-gradient(transparent 60%, #77FFBF 30%);
  display: inline-block;
  text-align: center;
  
}
.point-box p{
  margin: 5px 0px;
}
.naname-text{
  transform: rotate(-4.5deg);
  font-size: 1.4rem;
  color: #131313;
  /* filter: drop-shadow(2px 2px 0px #fc6246); */

}
.last-statement{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 10px;
}



/* nbcpage
^------------------------------------------------------------------- */
#nbcpage{
  background-image: url(../images/nbc_bg2x.jpg);
  width: 100%;
  height: 46vw;
  margin-top: -29vw;
  /* min-height: 500px;  */
}
#nbcpage .page-title-wrapper{
  padding-top: 50vw;
}

/* #nbcpage p{
  font-size: 1rem;
} */
/* about */
.nbc-menu-bg{
  background-color: #E9F4EE;  
  align-items: center;
}
.nbc-menu{
  padding: 3rem 10px;
}
.nbc-detail{
  padding: 1rem 10px 3rem;
}
#about .about-content{
  padding-top: 50vw;

}

#about{
  background-image: url(../images/footomo_bg_without.jpg);
  width: 100%;
  height: 46vw;
  margin-top: -29vw;
  /* min-height: 500px;  */
}
.portrait {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  max-width: 75%;
  margin: 4rem auto 0
}

.portrait img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 35%;  /* 円形にする */
}

.greeting p{
  text-align: left;
  line-height: 1.8rem;
}
/* footer
-------------------------------------------------------------------- */

footer{
  background: #93C8AF;
  text-align: center;
  padding: 10px 0;
}
footer p{
  color:#fff;
  font-size: 0.875rem;
}

.footer-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: 40px 19px;
  flex-wrap: wrap; /* モバイル対応 */
  
}

.footer-box-1 img.logo-footer {
  width: 120px;
  height: auto;
 
}

.footer-box-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.footer-box-2 p {
  margin: 0;
  font-size: 0.9rem;
}

.footer-box-3 {
  margin-top: 0;
  display: flex;
  font-size: 0;
}
.footer-box-3 img {
  width: 35px;
  height: 40px;
}





/* 
@media(max-width: 950px) {
  .home-content p{
    font-size: 1.2rem;
  }
} */






/* モバイル版 -------------------------------------------------------------*/
@media(max-width: 800px) {
  .wrapper{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 0%;
  }
  .page-title{
    /* font-size: 1.6rem; */
    text-align: center;
    /* font-weight: bold; */
    margin: 0.7rem auto;
  }
  .logo{
    width: 88px;
    /* margin-top: 25px; */
    margin-left: 0px;
    vertical-align: bottom;
  }
  .page-header{
    
    align-items: center;
    padding: 5px 6px 0px 16px;
  }
 
  #home{
    background-repeat: no-repeat;
    width: 100%;
    height: 40vw;
  }
  #home .page-title{
    font-size: 2.7rem;
  }
  #home .page-subtitle{
    font-size: 1rem;
    margin: 10px 0 10px;
  }
  
  #home .title-wrapper{
    margin: 0 auto 0;
  }
  /* .home-content p{
    font-size: 0.8rem;
    margin: -2px 0px 51px;
  } */

  .botton {
    font-size: 1.0rem;
    text-align:center;
    color: #fff !important; 
    border-radius: 2rem;
    padding: 10px 20px;
    display: inline-block;
    margin: 1rem auto;
  }

  .line-on-image .line-button {
    top: 15.5%;
    left: 40%;
    font-size: 3vw;              /* ✅ 画面幅に対して可変に */
    padding: 1.5vw 3vw;          /* ✅ 同様に相対指定 */
  }
  /* HEADER */
  .main-nav{
    font-size: 0.9rem;
    margin-top:10px;
  }
  .main-nav li{
    margin: 0 20px;
    width: 30%;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  /* HOME */
  #home .home-content{
    padding-top: 120px;
  }
  
  .bg-sp{
    display: block;
  }
  .flow-wrapper{
    flex-direction: column;
     margin: 0 auto; /*中央に配置*/
     gap: 0rem;
    width: auto;
   }
  .flow-container {
    border-radius: 0px;
    margin:0px auto;
   
  }
  /* footcare */
  /* #footcare .page-title {
    font-size: 2em;
}
#shoefitting .page-title {
  font-size: 2em;
}
#nbcpage .page-title {
  font-size: 2em;
}
#about .page-title{
  font-size:2em;
} */
.mini-comment{
  font-size:1rem;
}
}