@charset "UTF-8";
/* 共通部分
--------------------------------------*/
html{
  font-size: 100% ;
}
body{
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7 ;
  color:#174630;
  margin:0 auto;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
.wrapper{
  max-width: 1100px; /*最大幅指定*/
  margin: 0 auto; /*中央に配置*/
  padding: 0 4%;
}


/*HEADER
-------------------------------------- */
.page-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0);
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000
}

.logo{
  width: 100px;
  margin-top: 25px;
  margin-left: 10px;
}

.main-nav{
  display: flex;
  font-size: 1.25rem;
  margin-top: 34px;
  align-items: center;
  list-style: none;
}
.main-nav a{
  margin-left: 36px;
  color: #174630;
}
.main-nav a:hover{
  color:#0e6227;   /*カーソル上の時色変化*/
  font-weight: bold;
}

/* ここからハンバーガーメニューの設定 */
/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューの出現モーション*/
.nav_content {
  width: 80vw; /* 表示幅を画面の80%に */
  height: 100%;
  position: fixed;
  top: 0;
  right: -80vw; /* 初期状態で画面の右外へ隠す */
  z-index: 99;
  background: #F8FCF7;
  transition: right 0.2s ease-out; /* アニメーション */
}

/* 出てきたメニューのデザイン */
.nav_list {
  font-size: 1.5rem;
  flex-direction: column;
  list-style: none;
  margin-left: 30px;
  margin-top: 100px;
  line-height: 4rem
  
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  right: 0;/* メニューを画面に入れる */
}
/* デフォルトでスマホ用を非表示にしておく */
.nav{
  display: none;
}
.nav_list a{
  color: #174630;
}
.header-line{
    /* font-size: 2rem; */
    background: Mediumseagreen;
    color:#fff !important;
    border-radius: 10px;/*角を丸くする*/
    padding: 6px 8px;
    display: inline-block;
    

}
/* 幅768px以下の画面で切り替える */
@media screen and (max-width: 800px) {
  .header_right {
    display: none;
  }
  .nav {
    display: block;
  }
}
/* ハンガーガ－メニューの設定終わり */



/*HOME
----------------------------------------*/
.home-content{
  text-align: center;
  padding-top: 15%;
  margin-bottom: 80px; /* ← これを追加して下にスペースを確保 */
}
.home-content p{
  font-size: 1.35rem;
}

/*見出し(AboutUs)*/
.page-title{
  font-size: 5rem;
  font-family: "Philosopher", serif;
  text-transform: uppercase;
  font-weight: normal;/*文字の太さ*/
}
.page-subtitle {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  text-align: center; 
  padding: 3%;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 3%;
}
.line_botton {
  text-align: center;
  margin: 40px 0; /* 適度な上下の余白も追加 */
}
/*ボタン*/
.botton{
  font-size: 2rem;
  background: Mediumseagreen;
  color:#fff;
  border-radius: 5px;/*角を丸くする*/
  padding:18px 32px;
  display: inline-block;
}
.botton:hover{
  background: #499149;
}
/*大きな背景画像*/
.big-bg{
  background-size:cover;
  background-position: left top;
  background-repeat: no-repeat;
}
#home{
  background-image: url(../images/footomo_bg.jpg);
  width: 100%;
  height: 60vw;
  min-height: 500px; 
 
}
#home .page-title{
  text-transform: none;
  white-space: nowrap;
}

.title-wrapper{
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  margin-top: -40px;
}
.line-on-image {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.line-on-image img {
  display: block;
  width: 100%;
  height: auto;
}

.line-on-image .line-button {
  top: 13.5%;
  left: 42%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: Mediumseagreen;
  color: #fff;
  border-radius: 0.8vw;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
  box-shadow: 0 0.5vw 1vw rgba(0,0,0,0.2);
  z-index: 10;
  padding:10px 20px;
  font-size: 120%;
  
}

.line-on-image .line-button:hover {
  background: #499149;
}


/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
 
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 800px) {
    .pc { display: none !important; }
    .sp { display: block !important; }



/* .photo_embed p{
  position: absolute;絶対配置
  color: white;文字は白に
  top: 13.5%;
  left: 42%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 100%;
  background: Mediumseagreen;
  color:#fff;
  border-radius: 5px;角を丸くする
  padding:10px 20px;
  display: inline-block;
} */


#news{
  background-image: url(../images/news-bg.jpg);
  height:270px;
  margin-bottom: 40px;
  background-position: center;
}
#news .page-title{
  text-align: center;
  padding-top: 9%;
}
.match-info{
  margin: 60px 0 0;
}
.club-info{
  background-color:rgb(50,205,50,0.2);
  padding: 20px;
  border-radius: 4px;
}
.temporary-sign{
  display: block;
  text-align: center;
}
footer{
  background: #93C8AF;
  text-align: center;
  padding: 10px 0;
}
footer p{
  color:#fff;
  font-size: 0.875rem;
}
article{
  width: 60%;
  order: 2;
}
aside{
  width: 22%;
  order: 3;
}
.ad{
  order: 1;
}
.news-contents{
  flex-direction: column;
}
.post-info{
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}
.post-date{
  background: #0bd;
  border-radius: 50%;
  color:#fff;
  width:100px;
  height:100px;
  text-align: center;
  font-size: 1.625rem;
  position: absolute;
  top: 0;
  padding-top: 10px;
}
.post-date span{
  font-size: 1rem;
  border-top: 1px rgba(255, 255, 255, 0.5) solid;
  padding-top: 6px;
  padding-left: 0.75rem; /*なぜか合わないので自分で追加。ずれるかも。*/
  display: flex;
  width: 60%;
  margin:0 auto;
}
.post-title{
  font-family: "Yu Mincho","Yumincho",serif;
  font-size: 2rem;
  font-weight: normal
}
.post-title,
.post-cat{
  margin-left: 120px;
}
article img{
  margin-bottom:20px;
}
article p{
  margin-bottom: 1rem;
}
.sub-title{
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}
aside p{
  padding: 12px 10px;
}
.sub-menu{
  margin-bottom: 60px;
  list-style: none;
}
.sub-menu li{
  border-bottom: 1px #ddd solid;
}
.sub-menu a{
  color: #432;
  padding: 10px;
  display: block;
}
.sub-menu a:hover{
  color:#0bd;
}
/* 店舗情報、地図 */
#location{
  padding: 4% 0;
}
#location .wrapper{
  display: flex;
  justify-content: space-between;
}
.location-info{
  width: 25%;
}
.location-info p{
  padding: 12px 10px;
}
.location-map{
  width: 72%;
}
/* iframe */
iframe{
  width: 100%;
}

/* MENU
----------------------------------------*/
#menu {
    background-image: url(../images/sinkan.jpg);
    height: 707px;
    background-size: cover;
    margin-bottom: 40px;
    background-position-y: -160px
}
.menu-content{
  max-width: 560px;
  /* margin-top: 10%; */
  padding-top: 14%;
}
.menu-content .page-title{
  text-align: center;
}
.menu-title{
  text-align: center;
  font-size: 2rem;
  font-family: "Philosopher", serif;
  font-weight: bold;
  margin: 60px 10px 30px;
  border-bottom: 2px mediumseagreen solid;
}
.menu-content p{
  font-size: 1.125rem;
  margin: 10px 0 0;
  text-align: center;
}
.menu-top{
  display:flex;
  justify-content: space-between;
}
/* .contents{
  width: 30%;
} */
.from-and-twitter{
  /* display: flex; */
  justify-content: center;
}
/* .from-and-twitter .gogle-form{
  width: 60%;
} */
.contents h3{
  text-align: left;
}
.contents a{
  color: blue;
}
.contents a:hover{
  color: #0c4da2;
}
.twitter-timeline{
  width:100vw;
  text-align:center;
}
/* .menu-info{
  text-align:center;

} */
.timeline-wrapper{
  text-align: center;
  /* width: 40%; */
}

.grid{
  display: grid;
  grid-gap: 26px;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  margin-top: 20px;
  margin-bottom: 50px;
}
.big-box{
  grid-column: 1/3;
  grid-row: 1/3;
}
.big-box img{
  height: 92%;
  width: 100%;
  object-fit: cover;
}
/* SNS */
#sns{
  background: #FAF7F0;
  padding: 4% 0;
}
#sns .wrapper{
  display: flex;
  justify-content: space-between;
}
#sns .subtitle{
  margin-bottom: 30px;
}
.sns-box{
  width: 30%;
}
.instagram-media{
  width: 100%;
}


/* CONTACT
---------------------------------------------- */
#contact{
  background-image: url(../images/contact-bg.jpg);
  min-height: 130vh;
}
#contact .page-title{
  padding-top: 10%;
}
/* input[type="text"],
input[type="email"],
textarea{
  background: rgba(255,255,255,0.5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding:10px;
  font-size: 1rem;
}
input[type="text"],
input[type="email"]{
  width: 100%;
  max-width: 240px;
}
textarea{
  width: 100%;
  max-width: 480px;
  height: 6rem;
}
input[type="submit"]{
  border: none;
  cursor:pointer;
  line-height: 1;
} */

@media(max-width: 950px) {
  .home-content p{
    font-size: 1.2rem;
    /* margin: -2px 0px 51px; */
  }
}

/* モバイル版 */
@media(max-width: 800px) {
  .wrapper{
    max-width: 95%;/*最大幅指定*/
    margin: 0 auto;/*中央に配置*/
    padding: 0 4%;
  }
  .page-title{
    font-size: 1.5rem;
    font-weight: bold;
  }
  #menu{
    margin-bottom: -180px;
  }
  .menu-content{
    padding-top: 73%;
  }
  #menu .page-title {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgb(255,255,255,.9);
    border-radius: 2px;
    /* padding-top: 90%; */
  }
  #menu p{
    background-color: rgb(255,255,255,.5);
    border-radius: 2px;
  }
  #home{
    background-repeat: no-repeat;
    width: 100%;
    height: 40vw;
  }
  #home .page-title{
    font-size: 3rem;
  }
  #home .page-subtitle{
    font-size: 1rem;
    margin: 10px 0 10px;
  }
  
  #home .title-wrapper{
    margin: 0 auto 0;
  }
  .home-content p{
    font-size: 0.8rem;
    margin: -2px 0px 51px;
  }
  
  .botton {
    font-size: 1.0rem;
    text-align:center;
    background: Mediumseagreen;
    color: #fff !important; 
    border-radius: 5px;
    padding: 10px 7px;
    display: inline-block;
  }

  .line-on-image .line-button {
    top: 15%;
    left: 40%;
    font-size: 3vw;              /* ✅ 画面幅に対して可変に */
    padding: 1.5vw 3vw;          /* ✅ 同様に相対指定 */
  }
  /* HEADER */
  .main-nav{
    font-size: 0.9rem;
    margin-top:10px;
  }
  .main-nav li{
    margin: 0 20px;
    width: 30%;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  /* HOME */
  .home-content{
    padding-top: 100px;
  }
  .page-header{
    
    align-items: center;
  }
  /* NEWS */
  .news-contents{
    flex-direction: column;
  }

  #news .page-title{
    margin-top: 0px;
    padding-top: 154px;
    font-size: 3rem;
  }
  aside{
    margin-top: 60px;
  }
  .post-info{
    margin-bottom: 30px;
  }
  .post-date{
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }
  .post-date span{
    font-size: 0.875rem;
    padding-top: 2px;
    padding-left: 0.35rem; /*なぜか合わないので自分で追加。ずれるかも。*/

  }
  .post-title{
    font-size: 1.375rem
  }
  .post-cat{
    font-size: 0.875rem;
    margin-top: 10px;
  }
  .post-title,
  .post-cat{
    margin-left: 80px;
  }
  /* MENU */
  .menu-title{
    font-size: 1.5rem;
  }
  .present-information p{
    font-size: 0.8rem;
  }

  .big-box{
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 30px;/* 調整 */
  }
  .big-box img{
    height: 100%
  }
  /* CONTACT */
  #contact .page-title{
    padding-top: 60%;
  }
  /* フォーム */
  input[type="text"],
  input[type="email"],
  textarea{
    max-width: 100%;
  }
  .google-form{
    width: 100%;
  }
  #location .wrapper,
  #sns .wrapper{
    display: flex;
    flex-direction: column;
  }
  .location-info,
  .location-map,
  .sns-box{
    width: 100%;
  }
  .sns-box{
    margin-bottom: 30px;
  }

}
